# Privy credentials
VITE_PRIVY_APP_ID=
VITE_PRIVY_APP_SECRET=

# Chain / RPC
VITE_CHAIN_ID=11155111
VITE_RPC_URL=

VITE_DELEGATED_ACCOUNT_ADDRESS=0x9969827E2CB0582e08787B23F641b49Ca82bc774
VITE_TARGET_CONTRACT_OWNER=0xf85615a573481b17d0e091b4b11fd1e47e021803
# Ticketing contract
VITE_TICKETING_CONTRACT_ADDRESS=0x3a9B1cFFAE6Fc7d9463c7aaa71cA45F2217E1158

# Attestor image 
VITE_ATTESTOR_IMAGE=image://docker.io/dineshmn1/attestor-ticketing:latest

